{% extends "base.html" %}

{% block navbar %}
  {% with active_tab = "tasks" %}
    {% include "navbar.html" %}
  {% endwith %}
{% endblock %}

{% block container %}
<div id='task-page' class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="page-header span10">
        <p id="job_id" class="hidden">{{ jobid }}</p>
        <p id="job_status" class="hidden"> {{ job.status }}</p>
        <h2>{{ job.pkgname }}
          <small>{{ job.pkgver }}</small>
          {% if job.status == "BUILDING" %}
              <button style="float: right" class="btn btn-danger" onclick="flower.on_job_terminate(event)">Terminate</button>
          {% elif job.status == "FAILED" %}
              <button  style="float: right" class="btn btn-info" onclick="flower.on_job_rebuild(event)">Rebuild</button>
          {% endif %}
        </h2>
      </div>
      <div class="row-fluid">
        <div class="span10">
          <div class="well well-sm task-heading">
              <h4>State:
              {% if job.status == "BUILD_OK" %}
                <span class="label label-success">{{ job.status }}</span>
              {% elif job.status == "FAILED" %}
                <span class="label label-important">{{ job.status }}</span>
              {% elif job.status == "BUILDING" %}
                <span class="label label-info ">{{ job.status }}</span>
              {% else %}
                <span class="label label-default">{{ job.status }}</span>
              {% endif %}           
              </h4>
              {% if job.build_args|length > 0 %}
              <h4>Addition Args:
                {% for arg in job.build_args %}
                <span class="label label-success">{{ arg }}</span>
                {% endfor %}
              </h4>
              {% endif %}
              <div style="margin-left: auto;">
                <a class="label label-important" href=/cache/tasks/{{ job.id }}/{{ job.dist }}-{{ job.arch }}/>Caches</a>
              </div>
          </div>
          <br>
          <table class="table table-bordered table-striped">
            <tbody>
            <tr>
                <td width="10%">ID</td>
                <td width="40%">{{ jobid }}</td>
                <td width="10%">Triggered</td>
                <td width="40%">{{ job.triggered }}</td>
            </tr>
            <tr>
              <td width="10%">Builder</td>
              <td width="40%">{{ job.build_host }}</td>
              <td width="10%">Hashsum</td>
              <td width="40%">{{ job.hashsum }}</td>
            </tr>
            <tr>
                <td width="10%">Action</td>
                <td width="40%">{{ job.action }}</td>
                <td width="10%">Reponame</td>
                <td width="40%">{{ job.reponame }}</td>
            </tr>
            <tr>
                <td width="10%">Dist</td>
                <td width="40%">{{ job.dist }}</td>
                <td width="10%">Arch</td>
                <td width="40%">{{ job.arch }}</td>
            </tr>
            <tr>
              <td width="10%">Build Start</td>
              <td colspan="3">{{ job.build_start }}</td>
            </tr>
            <tr>
              <td width="10%">Build End</td>
              <td colspan="3">{{ job.build_end }}</td>
            </tr>
            </tbody>
          </table>
          <h4>Build Log</h4>
            <pre id="build_log" class="shell">
            </pre>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_styles %}
<style type="text/css">
.colorize-error {color: red;  font-weight:bold;}
.colorize-command {color: green; font-weight:bold;}
.colorize-comment {color: gray;}
</style>
{% endblock %}

{% block extra_scripts %}
<script>
function url_prefix() {
      var url_prefix = $('#url_prefix').val();
      if (url_prefix) {
          if (url_prefix.startsWith('/')) {
              return url_prefix;
          } else {
              return '/' + url_prefix;
          }
      }
      return '';
}

var getLogTail = function(){
    var pathname = window.location.pathname;
    var jobid = pathname.substring(pathname.lastIndexOf('/') + 1);
    $.ajax({
      url: url_prefix() + '/api/job/' + jobid + '/log',
      dataType: 'json',
      success:function(data) {
        if (!data['autorefresh']) clearInterval(intervalLog);
        colorize(data['log']);
      }
    })
};

$(document).ready(function(){
  intervalLog = setInterval(getLogTail, 3000);
  getLogTail();
});

var colorize = function (c) {
    var error = /\b(error|ERROR|Error|Cannot)(?=[^\w])/g;
    parsed = c.replace(error, "<span class=\"colorize-error\">$1</span>");
    parsed = parsed.replace(/(Run: .*?\n)/g, "<span class=\"colorize-command\">$1</span>");
    parsed = parsed.replace(/\[0m(.*?)\[0m/g, "<span class=\"colorize-comment\">$1</span>");
    $("#build_log").html(parsed); 
};

</script>
{% endblock %}